@charset "utf-8";
/* intro */
#intro { background: url('../images/intro_back.png') no-repeat; background-size: 100% 100%; height: 100%; color: #fff; text-align: center; overflow: hidden;}
	
	#intro > h2 { position: relative; width: 100%; top: 28%; margin: auto; font-size: 46px; font-family: "나눔스퀘어라운드"; letter-spacing: 2px;}
	
	#intro > ul { position: relative; width: 100%; max-width: 700px; top: 35%; margin: auto; font-size: 22px; font-family: "나눔스퀘어라운드";}
		#intro > ul li { margin-bottom: 18px;}

		.intro_left, .intro_right { position: absolute; top: -7%;}
		.intro_left { left: 0;}
		.intro_right { right: 0;}
		
	.intro_click { position: relative; width: 160px; top: 44%; margin: auto; font-size: 13px; cursor: pointer;}
		.intro_click h4 { font-family: "나눔손글씨 펜"; font-size: 34px; font-weight: normal;}
		.intro_click img { -webkit-animation: img 1.0s linear infinite;}
		
		/* 아이콘 애니메이션(IE, 크롬&사파리, 파이어폭스, 오페라) */
		@keyframes img {
			0% { margin-top: 8px;}
			50% { margin-top: 16px;}
			100% { margin-top: 8px;}
		}
		
		@-webkit-keyframes img {
			0% { margin-top: 8px;}
			50% { margin-top: 16px;}
			100% { margin-top: 8px;}
		}
		
		@-moz-keyframes img {
			0% { margin-top: 8px;}
			50% { margin-top: 16px;}
			100% { margin-top: 8px;}
		}
		
		@-o-keyframes img {
			0% { margin-top: 8px;}
			50% { margin-top: 16px;}
			100% { margin-top: 8px;}
		}

@media screen and (max-width: 768px) {	
	#intro > h2 { font-size: 42px;}
	
	#intro > ul { max-width: 90%; font-size: 18px;}
		.intro_left img, .intro_right img { width: 86%;}
}

@media screen and (max-width: 640px) {
	.intro_left, .intro_right { display: none;}
}

@media screen and (max-width: 550px) {
	#intro > h2 { width: 60%; top: 12%; font-size: 34px;}
		
	#intro > ul { width: 60%; top: 17%; font-size: 16px;}
		#intro > ul li { margin-bottom: 20px;}
		
		.intro_click { top: 24%;}
}

@media screen and (max-width: 360px) {
	#intro > h2 { top: 10%; font-size: 30px;}
		
	#intro > ul { top: 14%;}
		#intro > ul li { margin-bottom: 18px;}
		
		.intro_click { top: 18%;}
			.intro_click h4 { font-size: 28px;}
}
	

		
/* header */
header { border-bottom: 1px solid #ccc;}
header:after { content: ""; display: block; clear: both;}

	header h1 { float: left; font-size: 25px; margin: 15px 0;}
	
	.mobile_menu { display: none;}
	
	.pc_menu { float: right;}
		.pc_menu ul { font-size: 18px; font-weight: bold; margin-top: 19px;}
		.pc_menu ul > li { float: left; margin-right: 40px;}
		.pc_menu ul > li:last-child { margin-right: 0;}
			.pc_menu ul > li a{ color: #666;}
			.pc_menu ul > li:hover a { color: #fa465c;}
			
@media screen and (max-width: 768px) {
	header { padding: 0 10px;}
		
		header h1 { font-size: 32px;}
		
		.mobile_menu { display: block; float: right; margin-top: 28px; cursor: pointer;}
		
		.pc_menu  { width: 100%; display: none;}
			.pc_menu  ul > li { width: 100%; margin-bottom: 30px; text-align: center;}
}	

	
/* about_me */
#about_me { font-size: 16px; line-height: 24px;}
#about_me:after { content: ""; display: block; clear: both;}

	#about_me .about_img { float: left; width: 44%; text-align: right; padding-left: 8%; margin-right: 8%; box-sizing: border-box;}
	#about_me .about_text { float: left; width: 48%;}

	#about_me h3 { font-size: 25px; color: #fb697a; margin-bottom: 10px; text-transform: uppercase;} 
	#about_me p { margin-bottom: 30px;}
	
	#about_me .button_zone { text-align: right;}
		#about_me .button_zone button { background: #fff; border: 1px solid #f91d37; color: #f91d37; padding: 10px 28px 12px; font-size: 14px; font-weight: bold; cursor: pointer;}
			#about_me .button_zone button img { margin-left: 10px;}
	

@media screen and (max-width: 768px) {
	#about_me .about_img { width: 100%; padding: 0 20%; margin-right: 0;}
	#about_me .about_text { width: 100%; text-align: center;}
	#about_me .button_zone { text-align: center; padding-top: 20px;}
}	

@media screen and (max-width: 500px) {
	#about_me .about_img { padding: 0 12%;}
}
			
/* skill */
#skill { background: url('../images/skill_back.png') no-repeat; background-size: 100% 100%; padding-bottom: 60px; margin-top: 100px; font-size: 18px; overflow: hidden;}

	#skill ul li { margin-bottom: 40px;}
	#skill ul li p { float: left; width: 150px; text-align: right; color: #fff;}
	#skill ul li span { font-size: 17px; color: #f91d37;}
	
	#skill ul li .stick { display: inline-block; margin: 0 10px 0 30px; height: 15px; background: #f91d37;}
	#skill ul li:nth-child(1) .stick { width: 75%;}
	#skill ul li:nth-child(2) .stick { width: 65%;}
	#skill ul li:nth-child(3) .stick { width: 70%;}
	#skill ul li:nth-child(4) .stick { width: 60%;}
	#skill ul li:nth-child(5) .stick { width: 75%;}
	#skill ul li:nth-child(6) .stick { width: 70%;}

@media screen and (max-width: 954px) {
	#skill ul li p { width: 110px;}
	#skill ul li .stick { margin: 0 10px 0 20px;}
}

	
@media screen and (max-width: 768px) {
	#skill ul li p { width: 100%; text-align: left; padding-left: 10px;}
	
	#skill ul li .stick { margin: 0 10px;}
	#skill ul li:nth-child(1) .stick { width: 85%;}
	#skill ul li:nth-child(2) .stick { width: 75%;}
	#skill ul li:nth-child(3) .stick { width: 80%;}
	#skill ul li:nth-child(4) .stick { width: 70%;}
	#skill ul li:nth-child(5) .stick { width: 85%;}
	#skill ul li:nth-child(6) .stick { width: 80%;}
}

@media screen and (max-width: 418px) {
	#skill ul li:nth-child(1) .stick { width: 75%;}
	#skill ul li:nth-child(2) .stick { width: 65%;}
	#skill ul li:nth-child(3) .stick { width: 70%;}
	#skill ul li:nth-child(4) .stick { width: 60%;}
	#skill ul li:nth-child(5) .stick { width: 75%;}
	#skill ul li:nth-child(6) .stick { width: 70%;}
}


/* portfolio */
#portfolio:after { content: ""; display: block; clear: both;}

	.port_category { margin-bottom: 30px;}
	.port_category:after { content: ""; display: block; clear: both;}
		
		.port_category ul { width: 330px; margin: auto; text-align: center;}
			.port_category ul li { float: left; margin: 0 20px; font-size: 18px; color: #666; cursor: pointer;}
			.port_category ul li.active { font-weight: bold; color: #fb697a; padding: 0 3px 5px; border-bottom: 2px solid #fb697a;}
			
		#portfolio .port_list > li { float: left; width: 31.5%; margin: 0 10px 20px; box-sizing: border-box; border: 1px solid #ccc; box-sizing: border-box; overflow: hidden;}
		#portfolio .port_list > li img { transform: scale(1.0); transition: transform 1s;}
		#portfolio .port_list > li:hover img { transform: scale(1.2);}
		#portfolio .port_list > .active a { color: #f91d37;}
		
			#portfolio .port_list > li > ul { font-size: 14px; padding: 10px 15px 15px; min-height: 126px; box-sizing: border-box; background: #fff; position: relative; z-index: 10;}
				#portfolio .port_list > li ul > li { padding-bottom: 5px;}
				#portfolio .port_list > li ul > li h4 { font-size: 18px; padding-bottom: 10px;}

@media screen and (max-width: 1152px) {
	#portfolio .port_list > li { width: 31%;}
	
		#portfolio .port_list > li > ul { min-height: 151px;}
}

@media screen and (max-width: 894px) {
	#portfolio .port_list > li { width: 46%; margin: 0 2% 20px;}
}

@media screen and (max-width: 538px) {
	#portfolio .port_list > li { width: 100%; margin: 0 0 40px;}
}


/* career */
#career { background: url('../images/career_back.png') no-repeat; background-size: 100% 100%; min-height: 1184px; margin-top: 100px; overflow: hidden; position: relative;}
#career:after { content: ""; display: block; clear: both;}

	#career div { max-width: 452px; position: absolute;}
		#career .career_left { right: 54%; text-align: right;}
		#career .career_right { left: 56%;}
		
		#career div:nth-child(2) { top: 17%;}
		#career div:nth-child(3) { top: 31%;}
		#career div:nth-child(4) { top: 44.5%;}
		#career div:nth-child(5) { top: 57.8%;}
		#career div:nth-child(6) { top: 75%;}

		#career h4, #career p, #career strong { color: #fff;}
		#career .year { font-size: 15px; font-weight: bold; color: #f91d37;}
		#career h4 { font-size: 20px; margin-bottom: 15px;}
		#career p { line-height: 22px;}
		
		/* 연도 막대 */
		#career .career_icon { left: 50.8%; top: 20%;}
			#career .career_icon p { width: 2px; min-height: 840px; background: #fff;}
			#career .career_icon span { position: absolute; left: -9px; width: 20px; height: 20px; background: #fff; border-radius: 50%;}
			
			#career .career_icon span:nth-child(2) { top: -1%;}
			#career .career_icon span:nth-child(3) { top: 18.7%;}
			#career .career_icon span:nth-child(4) { top: 38%;}
			#career .career_icon span:nth-child(5) { top: 56.5%;}
			#career .career_icon span:nth-child(6) { top: 81%;}
		
@media screen and (max-width: 768px) {
	#career div { position: inherit; width: 95%; max-width: 93%; margin-bottom: 60px;}
	
	#career .career_left { float: right; text-align: left;}
	#career .career_right { float: right;}
	
	#career p:last-child { min-height: 90px;}
	
	/* 연도 막대 */
	#career .career_icon { width: 24px; margin-top: 80px; margin-left: 10px;}
		#career .career_icon p { min-height: 1000px;}
		#career .career_icon span { left: 10px;}
		
		#career .career_icon span:nth-child(2) { top: 18%;}
		#career .career_icon span:nth-child(3) { top: 34.4%;}
		#career .career_icon span:nth-child(4) { top: 50.6%;}
		#career .career_icon span:nth-child(5) { top: 67.5%;}
		#career .career_icon span:nth-child(6) { top: 84%;}
}

@media screen and (max-width: 474px) {
	#career div { width: 90%;}
		#career .career_icon p { min-height: 1250px;}
		#career p:last-child { min-height: 140px;}
		
		#career .career_icon span:nth-child(2) { top: 15%;}
		#career .career_icon span:nth-child(3) { top: 32%;}
		#career .career_icon span:nth-child(4) { top: 49%;}
		#career .career_icon span:nth-child(5) { top: 66%;}
		#career .career_icon span:nth-child(6) { top: 83.5%;}
}



/* contact */
#contact { text-align: center; padding-bottom: 100px;}
#contact:after { content: ""; display: block; clear: both;}

	#contact h3 { font-size: 28px; margin: 100px 0 50px; font-weight: normal;}
	#contact h3 strong { color: #f91d37;}

	.sns_list { max-width: 50%; margin: auto;}
		.sns_list li { float: left; width: 50%; font-size: 16px;}
		.sns_list li h4 { font-size: 22px; margin: 10px 0 3px;}

@media screen and (max-width: 768px) {	
	.sns_list { max-width: 80%;}
}

@media screen and (max-width: 476px) {	
	#contact h3 { font-size: 26px;}
	
	.sns_list { max-width: 100%;}
		.sns_list li h4 { font-size: 20px;}
}

@media screen and (max-width: 414px) {	
	#contact h3 { font-size: 24px;}

	.sns_list li { width: 100%; margin-bottom: 60px;}
}

/* footer */
footer { background: #333; text-align: center; overflow: hidden;}
footer:after { content: ""; display: block; clear: both;}
	footer h2 { font-size: 32px; color: #8d8d8d; margin: 50px 0 20px;}
	
	.f_menu { max-width: 590px; margin: auto; font-size: 14px;}
	.f_menu:after { content: ""; display: block; clear: both;}
		.f_menu li { float: left;}
		.f_menu li a { display: inline-block; padding: 0 30px; color: #999;}
	
	footer p { clear: left; width: 100%; padding: 10px 0; margin-top: 40px; background: #222; color: #fff; font-size: 12px;}
	
@media screen and (max-width: 768px) {
	.f_menu { max-width: 440px;}
		.f_menu li a { padding: 0 15px;}
}

@media screen and (max-width: 500px) {
	footer h2 { margin: 40px 0 30px;}
	
	.f_menu li { width: 33%;}
		.f_menu li a { padding: 0 15px 25px;}
		
	footer p { margin-top: 20px;}
}

@media screen and (max-width: 330px) {
	.f_menu li { width: 100%;}
		.f_menu li a { padding: 0 0 20px;}
}